include setup.py
include pavement.py
include paver-minilib.zip
include HACKING

include sibt/schedulers/[a-z]*
include sibt/synchronizers/[a-z]*
include sibt/runners/[a-z]*
include sibt/include/*.inc

recursive-include sibt/test *.py
